.btn-color-primary {
    background-color: var(--color-primary);
    color: white;
}
.btn-color-primary:active {
    border: 3px solid var(--color-secondary);
}
.btn-color-secondary {
    background-color: var(--color-secondary);
    color: white;
}
.btn-color-secondary:active {
    border: 3px solid var(--color-primary-light);
}
.icon-menu-white {
    background-image: url('../images/icons/menu_white.svg');
}
.icon-menu-black {
    background-image: url('../images/icons/menu_black.svg');
}
.icon-menu-primary {
    background-image: url('../images/icons/menu_primary.svg');
}
.icon-x-white {
    background-image: url('../images/icons/x_white.svg');
}
.icon-x-black {
    background-image: url('../images/icons/x_black.svg');
}
.icon-x-primary {
    background-image: url('../images/icons/x_primary.svg');
}
.icon-mail-white {
    background-image: url('../images/icons/mail_white.svg');
}
.icon-mail-black {
    background-image: url('../images/icons/mail_black.svg');
}
.icon-mail-primary {
    background-image: url('../images/icons/mail_primary.svg');
}
.icon-code-white {
    background-image: url('../images/icons/code-xml_white.svg');
}
.icon-code-black {
    background-image: url('../images/icons/code-xml_black.svg');
}
.icon-code-primary {
    background-image: url('../images/icons/code-xml_primary.svg');
}
.icon-message-white {
    background-image: url('../images/icons/message-square_white.svg');
}
.icon-message-black {
    background-image: url('../images/icons/message-square_black.svg');
}
.icon-message-primary {
    background-image: url('../images/icons/message-square_primary.svg');
}
.icon-linkedin-white {
    background-image: url('../images/in-white-26-@2x.png');
}