:root {
    --color-primary: #232964;
    --color-primary-light: #F3F1FF;
    --color-secondary: #771F1F;
    --color-secondary-light: #FFDFD1;
    --color-bodytext: #453D36;
    --color-bg-light: #ffffff;
    --color-bg-dark: #000000;
}