@import url(globalVars.css);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inria Serif', serif;
}
p, a, li {
    font-family: 'Inter', sans-serif;
}